.column p{
 font-style: italic; 
}

.image {
  width: auto;
  border: solid;
  border-color: grey beige white grey;
  padding: 4px;
}

.helen {
  width: 55%;
  border: solid;
  border-color: grey beige white grey;
  padding: 4px;
}

body {
  background-color: lightslategray;
}

@media screen and (max-width: 480px) and (min-width:300px) {
  body {
    background-color: lightslategrey;
  }

}

@media screen and (max-width:1000px) and (min-width:700px) {
  body {
    Background-color:orange;
  }
}