.column {
 font-style: italic; 
}

.image {
  width: auto;
  border: solid;
  border-color: grey beige white grey;
  padding: 4px;
}

.helen {
  width: 55%;
  border: solid;
  border-color: grey beige white grey;
  padding: 4px;
}

body {
  background-color: lightslategray;
}